* { margin: 0; padding: 0; box-sizing: border-box;  height: 100%; width: 100%}
body {background: #e8e8e8;font: 13px Helvetica, Arial;}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; text-align: right;}
#messages li:nth-child(odd) { background: #eee; text-align: left;}
